{{define "template_helper_mod_author"}}<code>{{"{{"}}.Author.(Username/ID/Discriminator){{"}}"}}</code> - The author of the kick/ban{{end}}

{{define "cp_moderation"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Moderation tools</h2>
</header>

{{template "cp_alerts" .}}

<!-- /.row -->
<form role="form" method="post" data-async-form>
    <div class="row mb-4">
        <div class="col-lg-12">
            <section class="card">
                <div class="card-body">
                    {{template "template_help"}}
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <section class="card card-featured card-featured-primary">
                <header class="card-header">
                    <h2 class="card-title">General</h2>
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label>Channel to announce bans and kicks through the bot in (modlog)</label>
                        <select class="form-control" name="ActionChannel" data-requireperms-embed>
                            {{textChannelOptions .ActiveGuild.Channels .ModConfig.ActionChannel true "Same as command was sent in"}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Channel to send messages for the mods/admins in (reports and such)</label>
                        <select class="form-control" name="ReportChannel" data-requireperms-send>
                            {{textChannelOptions .ActiveGuild.Channels .ModConfig.ReportChannel true "None"}}
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="ReportEnabled" {{if .ModConfig.ReportEnabled}} checked{{end}}>
                            Report command enabled<br/>
                            <code>(mention or prefix) report @user some reason</code><br/>
                            Everyone can use this.<br/>
                            Report will upload a log of the last 100 messages in the channel and send a message about it in the report channel.
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="CleanEnabled" {{if .ModConfig.CleanEnabled}} checked{{end}}>
                            Clean command enabled<br/>
                            <code>(mention or prefix) clean NUM {@user <- optional}</code><br/>
                            Manage Messages permissions is required for this command.<br/>
                            Clean deletes up to a 1000 messages back in history. (max 100 messages at a time)
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="LogUnbans" {{if .ModConfig.LogUnbans}} checked{{end}}>
                            Log Unban events in the mod log channel<br/>
                            A reason and author can be assigned to this entry through the <code>reason</code> command<br/>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="LogBans" {{if .ModConfig.LogBans}} checked{{end}}>
                            Log Bans not made through the bot<br/>
                            A reason and author can be assigned to this entry through the <code>reason</code> command<br/>
                        </label>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mb-4">
            <section class="card {{if .ModConfig.MuteEnabled}}card-featured card-featured-success{{end}}">
                <header class="card-header">
                    <h2 class="card-title">Mute/Unmute commands</h2>
                </header>
                <div class="card-body">
                   <div class="checkbox">
                      <label>
                        <input type="checkbox" name="MuteEnabled" {{if .ModConfig.MuteEnabled}} checked{{end}}>
                        Mute/Unmute commands enabled<br/>
                        <code>(mention or prefix) mute/unmute @user 10 some reason</code><br/>
                        Only users with kick permission can use this.<br/>
                        The mute command will assign the mute role to the user for the specified number of minutes (10m in the example above)
                      </label>
                    </div>
                    <div class="form-group">
                        <label>Remove the following roles from the user when muted, and give them back when the mute ends.</label><br>
                        <select name="MuteRemoveRoles" class="multiselect form-control populate" multiple="multiple" data-plugin-multiselect>
                            {{roleOptionsMulti .ActiveGuild.Roles .HighestRole .ModConfig.MuteRemoveRoles}}
                        </select>
                    </div>

                    <!-- If you come across this, this functionality isnt fully implemented yet so.. it dosen't do anything -->
                    <div class="hidden">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="mute-managed" name="MuteManageRole" {{if .ModConfig.MuteManageRole}} checked{{end}} onchange="MuteManagedChanged()">
                                Have the bot manage the mute role. It will automatically add overrides to all channels for the role.
                            </label>
                        </div>
                        <div class="form-group" id="mute-ignore-channels">
                            <label>Have the auto management of the mute role ignore the following channels</label><br>
                            <select class="multiselect" name="MuteIgnoreChannels" data-plugin-multiselect multiple="multiple">
                                {{textChannelOptionsMulti .ActiveGuild.Channels .ModConfig.MuteIgnoreChannels}}
                            </select>
                        </div>
                    </div>
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="MuteReasonOptional" {{if .ModConfig.MuteReasonOptional}} checked{{end}}>
                            Mute Reason optional
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="UnmuteReasonOptional" {{if .ModConfig.UnmuteReasonOptional}} checked{{end}}>
                            Unmute Reason optional
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="MuteRole">Mute role</label>
                        <select class="form-control" name="MuteRole">
                            {{roleOptions .ActiveGuild.Roles .HighestRole .ModConfig.MuteRole "None"}}
                        </select>
                        <p class="help-block">You have to set up the role yourself so that people with it cannot talk in any channels</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <section class="card {{if .ModConfig.KickEnabled}}card-featured card-featured-success{{end}}">
                <header class="card-header">
                    <h2 class="card-title">Kick Command</h2>
                </header>
                <div class="card-body">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="KickEnabled" {{if .ModConfig.KickEnabled}} checked{{end}}>
                            Kick command enabled<br/>
                            <code>(mention or prefix) kick @user some reason</code><br/>
                            Only users with kick permission can use this.<br/>
                            Same as ban command, but kicks instead
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="DeleteMessagesOnKick" {{if .ModConfig.DeleteMessagesOnKick}} checked{{end}}>
                            Delete the users last 100 messages on kick<br/>
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="KickReasonOptional" {{if .ModConfig.KickReasonOptional}} checked{{end}}>
                            <code>Reason</code> optional<br/>
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Kick DM (Leave empty for default)</label>
                        <textarea data-plugin-textarea-autosize class="form-control" name="KickMessage" placeholder="{{"You were kicked\nReason: {{.Reason}}"}}">{{.ModConfig.KickMessage}}</textarea>
                        
                        <p class="help-block">Available template data:<br/>
                        {{template "template_helper_user"}} - The user being banned/kicked<br/>
                        <code>{{"{{.Reason}}"}}</code> - The reason specified in the ban/kick<br/>
                        {{template "template_helper_mod_author"}}</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6 mb-4">
            <section class="card {{if .ModConfig.BanEnabled}}card-featured card-featured-success{{end}}">
                <div class="card-header">
                    <h2 class="card-title">Ban Command</h2>
                </div>
                <div class="card-body">
                   <div class="checkbox">
                      <label>
                        <input type="checkbox" name="BanEnabled" {{if .ModConfig.BanEnabled}} checked{{end}}>
                        Ban command enabled<br/>
                        <code>(mention or prefix) ban @user some reason</code><br/>
                        Only users with ban permission can use this.<br/>
                        The ban command will ban a user as well as sending a message that the user was banned in the action channel.
                      </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="BanReasonOptional" {{if .ModConfig.BanReasonOptional}} checked{{end}}>
                            <code>Reason</code> optional
                        </label>
                    </div>
                    <div class="form-group">
                        <label>Ban DM (Leave empty for default)</label>
                        <textarea data-plugin-textarea-autosize class="form-control"  name="BanMessage" placeholder="{{"You were banned\nReason: {{.Reason}}"}}">{{.ModConfig.BanMessage}}</textarea>
                        <p class="help-block">Available template data:<br/>
                        {{template "template_helper_user"}} - The user being banned/kicked<br/>
                        <code>{{"{{.Reason}}"}}</code> - The reason specified in the ban/kick<br/>
                        {{template "template_helper_mod_author"}}</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-4">
            <section class="card {{if .ModConfig.WarnCommandsEnabled}}card-featured card-featured-success{{end}}">
                <header class="card-header">
                    <h2 class="card-title">Warn Commands</h2>
                </header>
                <div class="card-body">
                   <div class="checkbox">
                      <label>
                        <input type="checkbox" name="WarnCommandsEnabled" {{if .ModConfig.WarnCommandsEnabled}} checked{{end}}>
                        Warn commands enabled<br/>
                        Only users with manage messages permission can use this.<br/>
                        <code>(mention or prefix) warn @user some reason</code><br/>
                        Creates a new warning for the user<br/>
                        <code>(mention or prefix) warnings @user</code><br/>
                        Displays a list of a specified user's warnings<br/>
                      </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="WarnIncludeChannelLogs" {{if .ModConfig.WarnIncludeChannelLogs}} checked{{end}}>
                            Create logs in the channel that the command was run in when a user is warned
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="WarnSendToModlog" {{if .ModConfig.WarnSendToModlog}} checked{{end}}>
                            Send warnings to the modlog
                        </label>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
    </div>
    <!-- /.row -->            
</form>
<script>
function MuteManagedChanged(){
    if($("#mute-managed").prop("checked")){
        $("#mute-ignore-channels").removeClass("hidden");
    }else{
        $("#mute-ignore-channels").addClass("hidden");
    }
}

$(function(){
    MuteManagedChanged();
})
</script>  
{{template "cp_footer" .}}

{{end}}

