# Just some stuff
cmd/yagpdb/static/bower_components
cmd/yagpdb/static/pages
cmd/yagpdb/static/index.html
cmd/yagpdb/cert
cmd/yagpdb/access_log
cmd/yagpdb/access.log
cmd/yagpdb/static/report.html
cmd/yagpdb/yagpdb
cmd/yagpdb/templates/plugins/*.html
cmd/yagpdb/soundboard
cmd/yagpdb/shutdown_logs
cmd/yagpdb/safebrowsing_db
cmd/yagpdb/static/video/*

cmd/capturepanics/capturepanics
cmd/shardorchestrator/shardorchestrator

# We don't want filthy pre-configured config files here ! >:O
# The graw agent file
*.agent
*.exe
cmd/shardorchestrator/capturepanics
__debug_bin*
app.env
.scannerwork
