# Just some stuff
cmd/quackpdb/static/bower_components
cmd/quackpdb/static/pages
cmd/quackpdb/static/index.html
cmd/quackpdb/cert
cmd/quackpdb/access_log
cmd/quackpdb/access.log
cmd/quackpdb/static/report.html
cmd/quackpdb/quackpdb
cmd/quackpdb/templates/plugins/*.html
cmd/quackpdb/soundboard
cmd/quackpdb/shutdown_logs
cmd/quackpdb/safebrowsing_db
cmd/quackpdb/static/video/*

cmd/capturepanics/capturepanics
cmd/shardorchestrator/shardorchestrator

# We don't want filthy pre-configured config files here ! >:O
# The graw agent file
*.agent
*.exe
cmd/shardorchestrator/capturepanics
.DS_Store
