{{define "bot_admin_panel"}}

{{template "cp_head" .}}
<header class="page-header">
    <h2>QUACKPDB quackternal quackmin quackel</h2>
</header>

{{template "cp_alerts" .}}

<a href="/admin/config" class="btn btn-sm btn-primary">Quackternal quack quackfig</a>
<form method="POST" action="/admin/reconnect_all">
    <button type="submit" class="btn btn-danger" value="Reconnect all shards">Requacknect all quackards</button>
</form>

{{range .Hosts}}
<h3>{{.Name}}</h3>
<div class="row">
    {{range .ServiceHosts}}
    <div class="col-lg-4">
        <section class="card card-featured card-featured-success mb-4">
            <header class="card-header">
                <h2 class="card-title">{{.Host}} - {{.PID}}</h2>
            </header>
            <div class="card-body host-status">
                <div class="row">
                    <div class="col-lg-12">
                        {{$sh := .}}
                        <p>V:<code>{{.Version}}</code> - <code>{{.InternalAPIAddress}}</code></p>
                        {{range .Services}}
                        <h4>{{.Type}}</h4>
                        <ul>
                            <li>{{.Type}} - {{.Name}}</li>
                            {{if .Details}}<li>{{.Details}}</li>{{end}}
                            {{if .BotDetails}}{{if .BotDetails.OrchestratorMode}}
                            <li>QuaodeID: {{.BotDetails.NodeID}}</li>
                            <li>Quackards: {{.BotDetails.RunningShards}}</li>
                            <li>Totquack Quackards: {{.BotDetails.TotalShards}}</li>
                            {{end}}{{end}}
                        </ul>
                        {{if eq .Type "orchestrator"}}
                        <form method="POST" action="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/updateversion">
                            <button type="submit" class="btn btn-primary" value="Update version">Quackdate quacksion</button>
                        </form>
                        <form method="POST" action="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/migratenodes">
                            <button type="submit" class="btn btn-primary" value="Update version">Quackgrate quaodes</button>
                        </form>
                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/deployedversion" class="btn btn-primary"
                            target="_blank">New quaode quacksion</a>
                        <br>
                        {{else if eq .Type "bot"}}
                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/shard_sessions" class="btn btn-primary"
                            target="_blank">Quackard quackssion ID's (QUACKITIVE QUACKFO)</a>
                        <br>

                        <!-- Reconnect dropdown -->
                        <form method="POST" action="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/updateversion">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Re-quackdentify quackards
                                </button>
                                <div class="dropdown-menu">
                                    {{range .BotDetails.RunningShards}}
                                    <input class="dropdown-item" type="submit"
                                        formaction="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/shard/{{.}}/reconnect?identify=1"
                                        value="Quackard
                                        {{.}}">
                                    {{end}}
                                </div>
                            </div>
                        </form>
                        {{end}}
                        {{end}}

                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/goroutines?debug=1" class="btn btn-primary"
                            target="_blank">Quackroutines</a>
                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/goroutines?debug=2" class="btn btn-primary"
                            target="_blank">Quackroutines Full</a>
                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/heap?debug=1" class="btn btn-primary"
                            target="_blank">Queack</a>
                        <a href="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/allocs?debug=1" class="btn btn-primary" tar
                            get="_blank">Quallocks</a>
                        <form method="POST" action="/admin/host/{{$sh.Host}}/pid/{{$sh.PID}}/shutdown">
                            <button type="submit" class="btn btn-danger" value="Update version">Quackdown</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{end}}
</div>
<hr>
{{end}}

<!-- Modal -->
<div class="modal fade" id="remote-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="remote-modal-title">Quackdal quacktle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Qualose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="remote-modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Qualose</button>
            </div>
        </div>
    </div>
</div>

<script>

    function openRemoteModal(url) {
        $("#remote-modal").modal('show')

        $("#remote-modal-title").text(url)
        $("#remote-modal-body").text("Quacking...")

        createRequest("GET", url + "?partial=1", null, function () {
            $("#remote-modal-body").html(this.responseText);
        })
    }

</script>

{{template "cp_footer" .}}

{{end}}