{{define "premium_perks"}}
{{template "cp_head" .}}

<div class="page-header">
    <h2>Premium Perks</h2>
</div>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Information about YAGPDB Premium</h2>
            </header>
            <div class="card-body">
                <p>Premium helps covers server cost and supports the development of the bot</p>
                <p>Here you can find the features that premium subscription provides.</p>
                <h3 class="mb-2">
                    How to get premium?
                </h3>
                <div id="premium-how-to-get">
                    <section class="card">
                        <div class="card-body">
                            <ul>
                                <li>Purchase it from our <a href="https://discord.com/application-directory/{{.ClientID}}/store">Discord Store</a></li>
                            </ul>
                            <ul>
                                <li>Make a pledge on our <a href="https://patreon.com/yagpdb">Patreon</a>. Tiers $3 and above
                                    will grant you premium slots. It can take up to 10 minutes from you making a pledge to it
                                    being processed on our side. (If you do not see your premium slots after that time, please contact us through the support server.)</li>
                            </ul>
                            <span>To manage and assign your premium slots to a server, please <a href="https://{{.Host}}/premium"> go to the premium page </a> </span>
                            <br>
                            <span>Note: Premium slots are not transferable between Patreon and Discord Store.</span>
                        </div>
                    </section>
                </div><br>
                <h3>
                    Full list of premium benefits
                </h3>
                <div id="premium-full-benefits">
                    <section class="card">
                        <div class="card-body">
                            <b>General goodies</b>
                            <ul>
                                <li>Trigger CCs on Message Edit </li>
                                <li>Retroactive AutoRole Scan and Assignment </li>
                                <li>Access to priority support channels on our support server ($5 and above subscription only)</li>
                            </ul>

                            <b>Extended limits:</b>
                            <ul>
                                <li>Message cache duration increased from 1 hour to 12 hours, which means you will be
                                    able to see the removed messages in the logs if the message was sent in the previous
                                    12 hours</li>
                                <li>Max custom commands increased from 100 to 250</li>
                                <li>Max Reddit feeds increased from 20 to 1000</li>
                                <li>Max Youtube feeds increased from 10 to 250</li>
                                <li>Max Soundboard sounds increased from 50 to 250</li>
                                <li>Custom Command Length increased to 20000 characters from 10000</li>
                                <li>Increased database storage and interaction limits.</li>
                                <li>Various custom command function limits increased</li>
                                <li>Advanced Automod limits increased</li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>


{{template "cp_footer" .}}

{{end}}
