{{define "premium_perks"}}
{{template "cp_head" .}}

<div class="page-header mb-4">
     <h2 class="display-4 font-weight-bold mb-0"><i class="fas fa-crown text-warning mr-2"></i>YAGPDB Premium</h2>
</div>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <section class="card shadow-sm mb-4">
            <div class="card-body">
                <h3 class="h5 font-weight-bold mb-3">Premium Features</h3>
                <div id="premium-full-benefits">
                    <section class="card bg-light border-0 mb-3">
                        <div class="card-body">
                            <b class="font-weight-bold">Premium Exclusives</b>
                            <ul class="mb-3">
                                <li>Change Bot Avatar (profile picture) and Banner for your server</li>
                                <li>Trigger CCs on Message Edit</li>
                                <li>Bulk Role Removal and Assignment</li>
                                <li>Custom Thanks Detection Regex</li>
                                <li>Retroactive AutoRole Scan and Assignment</li>
                            </ul>
                            <b class="font-weight-bold">Increased Limits</b>
                            <ul>
                                <li>Message cache duration increased from <b>1 hour</b> to <b>12 hours</b>, which means you will be able to see the removed messages in the logs if the message was sent in the previous 12 hours</li>
                                <li>Max custom commands increased from <b>100</b> to <b>250</b></li>
                                <li>Max Reddit feeds increased from <b>20</b> to <b>1000</b></li>
                                <li>Max Youtube feeds increased from <b>10</b> to <b>250</b></li>
                                <li>Max Soundboard sounds increased from <b>50</b> to <b>250</b></li>
                                <li>Max RSS Feeds increased from <b>2</b> to <b>10</b></li>
                                <li>Max Custom Command Length increased to <b>20,000</b> characters from <b>10,000</b></li>
                                <li>Increased database storage and interaction limits.</li>
                                <li>Various custom command function limits increased</li>
                                <li>Advanced Automod limits increased</li>
                            </ul>
                        </div>
                    </section>
                </div>
                <h3 class="h5 font-weight-bold mb-3">How to get premium?</h3>
                <div id="premium-how-to-get">
                    <section class="card bg-light border-0 mb-3">
                        <div class="card-body">
                            <div class="mb-2">
                                <a href="https://discord.com/application-directory/{{.ClientID}}/store" target="_blank" class="btn btn-primary btn-lg font-weight-bold mr-2 mb-2"><i class="fab fa-discord mr-1"></i> Buy on Discord</a>
                                <a href="https://patreon.com/yagpdb/membership" target="_blank" class="btn btn-danger ignore-prompt btn-lg font-weight-bold mb-2"><i class="fab fa-patreon mr-1"></i> Buy on Patreon</a>
                            </div>
                            <span class="text-muted">Manage your subscription: <a href="https://{{.Host}}/premium" class="font-weight-bold">Manage Premium</a></span>
                            <br>
                            <span class="text-muted">Note: Premium slots are not transferable between Patreon and Discord Purchases</span>
                        </div>
                    </section>
                </div>
            </div>
        </section>
    </div>
</div>

{{template "cp_footer" .}}

{{end}}
