{{define "cp_rolecommands"}}

{{template "cp_head" .}}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Role Commands</h1>
        <p>Allows people to assign their own roles. Has a wide variety of settings you can tweak.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>
{{template "cp_alerts" .}}
<!-- /.row -->
<div class="row">
    <div class="col-lg-6">
        <!-- Add new role command -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add new role command
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/manage/{{.ActiveGuild.ID}}/rolecommands/new_cmd">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="new-role-command-name">Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">-role </span>
                                <input type="text" class="form-control" id="new-role-command-name" name="Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="new-role-command-group">Group</label><br>
                            <select name="Group" class="form-control" id="new-role-command-group">
                                <option>None</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="new-role-command-role">Role</label>
                            <select id="channel" class="form-control" name="Role">
                                <option>aaa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="new-role-command-require-roles">Requires roles</label><br>
                            <select name="RequireRoles" class="multiselect form-control" multiple="multiple" id="new-role-command-require-roles">
                                <option>aaa</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="new-role-command-ignore-roles">Ignore roles</label><br>
                            <select name="IgnoreRoles" class="multiselect form-control" multiple="multiple" id="new-role-command-ignore-roles">
                                <option>aaa</option>
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <!-- Add new role command group -->
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add new role command group
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group" action="/manage/{{.ActiveGuild.ID}}/rollcommands/new_group">
                        <div class="col-sm-6">
                            <label for="new-group-name">Name</label>
                            <input type="text" class="form-control" id="new-group-name" name="Name">
                        </div>
                        <div class="col-sm-6">
                            <label for="new-group-mode">Mode</label><br>
                            <select name="Group" class="form-control" id="new-group-mode" onchange="ModeChanged(this,'new-')">
                                <option value="0">None</option>
                                <option value="1">Single</option>
                                <option value="2">Multilple</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="new-group-require-roles">Requires roles</label><br>
                            <select name="RequireRoles" class="multiselect form-control" multiple="multiple" id="new-group-require-roles">
                                <option>aaa</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <label for="new-group-ignore-roles">Ignore roles</label><br>
                            <select name="IgnoreRoles" class="multiselect form-control" multiple="multiple" id="new-group-ignore-roles">
                                <option>aaa</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" id="new-group-single-opts">
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SingleRequireOne"> Require 1 role in group at all times (after initial assignment)
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="SingleAutoToggleOff"> Remove existing role when assigning another role in group.
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="new-group-multi-opts">
                        <div class="col-sm-6">
                            <label for="new-group-min-roles">Minimum number of role</label><br>
                            <input type="text" class="form-control" id="new-group-min-roles" name="MultipleMin">
                        </div>
                        <div class="col-sm-6">
                            <label for="new-group-max-roles">Maximum number of roles</label><br>
                            <input type="text" class="form-control" id="new-group-max-roles" name="MultipleMax">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <!-- Group listings with commands -->
        <h4>Groups</h4>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Group: None
            </div>
            <div class="panel-body">
                <p>TODO</p>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Group: 123
            </div>
            <div class="panel-body">
                <p>TODO</p>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->  

<script>
function ModeChanged(dropdown, idPrefix){
    var idMultiOpts = $("#" + idPrefix + "group-multi-opts");
    var idSingleOpts = $("#" + idPrefix + "group-single-opts");

    if(dropdown.value === "0"){
        idMultiOpts.addClass("hidden");
        idSingleOpts.addClass("hidden");
    }else if(dropdown.value === "1"){
        idMultiOpts.addClass("hidden");
        idSingleOpts.removeClass("hidden");        
    }else{
        idMultiOpts.removeClass("hidden");
        idSingleOpts.addClass("hidden");
    }

    console.log("woofooo", dropdown.value); 
}

$(function(){
    ModeChanged($("#new-group-mode")[0], "new-");
})
</script>          
{{template "cp_footer" .}}

{{end}}