{{define "cp_logging"}}
{{template "cp_head" .}}

<header class="page-header">
    <h2>Message and username/nickname logs</h2>
</header>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">General settings</h2>
            </header>
            <div class="card-body">
                <form role="form" method="post" data-async-form data-async-form-alertsonly>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            {{checkbox "UsernameLoggingEnabled" "UsernameLoggingEnabled" "Enable username logging" .Config.UsernameLoggingEnabled.Bool}}
                            <p>
                                <div class="bs-callout bs-callout-info"><b>Note:</b> If users are on another server
                                    with the bot on with this enabled, then their usernames will be logged even if
                                    you disable it on your server.<br /></div>
                            </p>

                            {{checkbox "NicknameLoggingEnabled" "NicknameLoggingEnabled" "Enable nickname logging" .Config.NicknameLoggingEnabled.Bool}}
                            <p>
                                You can check a users past usernames and nicknames with the commands <code>whois</code>
                                <code>usernames</code> and <code>nicknames</code>
                            </p>
                            <hr />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            {{checkbox "ManageMessagesCanViewDeleted" "ManageMessagesCanViewDeleted" "Allow members with <code>Manage Messages</code> permissions to view deleted messages" .Config.ManageMessagesCanViewDeleted.Bool}}
                            {{checkbox "EveryoneCanViewDeleted" "EveryoneCanViewDeleted" "Allow everyone to view deleted messages" .Config.EveryoneCanViewDeleted.Bool}}
                            <hr />
                        </div>
                        <div class="col-lg-4 col-md 12">
                            <div class="form-group">
                                <label>Blacklist channels from message logs</label><br />
                                <select class="multiselect" id="blacklist-channels" name="BlacklistedChannels"
                                    multiple="multiple" data-plugin-multiselect>
                                    {{textChannelOptionsMulti .ActiveGuild.Channels .ConfBlacklistedChannels}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Restrict message log access</label><br>
                                <select name="MessageLogsAllowedRoles" class="multiselect form-control"
                                    multiple="multiple" id="blacklisted-roles-receive" data-plugin-multiselect
                                    data-placeholder="Everyone">
                                    {{roleOptionsMulti .ActiveGuild.Roles nil .Config.MessageLogsAllowedRoles}}
                                </select>
                                <p class="help-block">If none are set, everyone will be able to access message logs
                                    (including users not logged in at all), otherwise access is restricted to only the
                                    specified roles. Note: people with access to the control panel will always have
                                    access to logs.</p>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-success btn-lg btn-block">Save All Settings</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <!-- /.card -->
        <section class="card">
            <header class="card-header clearfix">
                <h2 class="card-title">
                    Public message logs on this server
                    <div class="pull-right">{{if not .FirstPage}}<a href="?after={{.Newest}}"
                            class="nav-link btn btn-sm btn-primary">Newer</a>{{end}}<a
                            class="nav-link btn btn-sm btn-primary" href="?before={{.Oldest}}">Older</a></div>
                </h2>
            </header>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Created</th>
                            <th>Author</th>
                            <th>Channel</th>
                            <th>Actions</th>
                        </tr>
                        {{$g := .ActiveGuild.ID}}
                        {{range .Logs}}
                        <tr>
                            <td>#{{.ID}}</td>
                            <td>{{formatTime .CreatedAt}}</td>
                            <td>{{.AuthorUsername}} ({{.AuthorID}})</td>
                            <td>#{{.ChannelName}}</td>
                            <td>
                                <form method="post" data-async-form>
                                    <input class="hidden" type="text" name="id" value="{{.ID}}" />
                                    <button type="submit" formaction="/manage/{{$g}}/logging/fulldelete2"
                                        class="btn btn-sm btn-danger" value="Delete" data-async-form>Delete</button>
                                    <a class="btn btn-sm btn-primary" href="/public/{{$g}}/log/{{.ID}}">View</a>
                                </form>
                            </td>
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>
            <div class="card-footer clearfix">
                Logs My man
                <div class="pull-right">{{if not .FirstPage}}<a href="?after={{.Newest}}"
                        class="nav-link btn btn-sm btn-primary">Newer</a>{{end}}<a
                        class="nav-link btn btn-sm btn-primary" href="?before={{.Oldest}}">Older</a></div>
            </div>
        </section>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}