{{define "cp_notifications_general"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>General</h2>
</header>

<form role="form" method="post" data-async-form>

    <section class="card mb-2">
        <div class="card-body mb-0">
            <div class="row">
                <div class="col">
                    {{template "template_help"}}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    {{checkbox "censor_invites" "gnotifs-censor-invites" "Censor server invites in usernames?" .NotifyConfig.CensorInvites}}
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </section>

    {{template "cp_alerts" .}}

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                    <section
                        class="card {{if .NotifyConfig.JoinServerEnabled}}card-featured card-featured-success{{end}}">
                        <header class="card-header">
                            {{checkbox "join_server_enabled" "join-server-enabled-check" `<h2 class="card-title">Join message in server channel</h2>` .NotifyConfig.JoinServerEnabled}}
                        </header>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Channel</label>
                                <select class="form-control" name="join_server_channel" data-requireperms-send>
                                    {{textChannelOptions .ActiveGuild.Channels .NotifyConfig.JoinServerChannel false ""}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                {{/* Use .btn-add for simplicity and let the page loader adjust. */}}
                                {{range .NotifyConfig.JoinServerMsgs}}
                                <div class="entry input-group input-group-sm">
                                    <textarea rows="5" class="form-control" name="join_server_msgs">{{.}}</textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{else}}
                                <div class="entry input-group input-group-sm">
                                    <textarea rows="5" class="form-control" name="join_server_msgs"></textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{end}}
                                <p class="help-block">Available template data is {{template "template_helper_user"}} and
                                    {{template "template_helper_guild"}}. YAGPDB will pick one message at random from
                                    all configured.</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="card {{if .NotifyConfig.LeaveEnabled}}card-featured card-featured-success{{end}}">
                        <header class="card-header">
                            {{checkbox "leave_enabled" "leave_enabled" `<h2 class="card-title">User Leave Message</h2>` .NotifyConfig.LeaveEnabled}}
                        </header>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Channel</label>
                                <select class="form-control" name="leave_channel" data-requireperms-send>
                                    {{textChannelOptions .ActiveGuild.Channels .NotifyConfig.LeaveChannel false ""}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                {{/* Use .btn-add for simplicity and let the page loader adjust. */}}
                                {{range .NotifyConfig.LeaveMsgs}}
                                <div class="entry input-group input-group-sm">
                                    <textarea rows="5" class="form-control" name="leave_msgs">{{.}}</textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{else}}
                                <div class="entry input-group input-group-sm">
                                    <textarea rows="5" class="form-control" name="leave_msgs"></textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{end}}
                                <p class="help-block">Available template data is {{template "template_helper_user"}} and
                                    {{template "template_helper_guild"}}. YAGPDB will pick one message at random from
                                    all configured.</p>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <div class="row mt-4">
                <div class="col-lg-6">
                    <section class="card {{if .NotifyConfig.JoinDMEnabled}}card-featured card-featured-success{{end}}">
                        <header class="card-header">
                            {{checkbox "join_dm_enabled" "join_dm_enabled" `<h2 class="card-title">Join message in direct message</h2>` .NotifyConfig.JoinDMEnabled}}
                        </header>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Message</label>
                                <textarea rows="5" class="form-control"
                                    name="join_dm_msg">{{.NotifyConfig.JoinDMMsg}}</textarea>
                                <p class="help-block">Available template data is {{template "template_helper_user"}} and
                                    {{template "template_helper_guild"}}</p>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-lg-6">
                    <section class="panel {{if .NotifyConfig.TopicEnabled}}card-featured card-featured-success{{end}}">
                        <header class="card-header">
                            {{checkbox "topic_enabled" "topic_enabled" `<h2 class="card-title">Topic change message</h2>` .NotifyConfig.TopicEnabled}}
                        </header>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Channel</label>
                                <select class="form-control" name="topic_channel" data-requireperms-send>
                                    {{textChannelOptions .ActiveGuild.Channels .NotifyConfig.TopicChannel true "Channel topic was changed in"}}
                                </select>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- /.col-lg-6 (nested) -->
            </div>
            <div class="row mt-4">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
            </div>
            <!-- /.row (nested) -->
            <!-- /.panel-body -->
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

</form>

{{template "cp_footer" .}}

{{end}}