{{define "cp_rss"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>RSS Feeds</h2>
</header>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">New feed</h2>
            </header>
            <div class="card-body">
                <form class="no-unsaved-popup" method="post" action="/manage/{{.ActiveGuild.ID}}/rss">
                    <p><b>Note:</b> Added feeds may take up to 10 minutes before they start being used</p>
                    <p>RSS feeds are premium only.</p>
                    <div class="form-group">
                        <label for="rss-feed-url">Feed URL</label>
                        <input type="url" class="form-control" id="rss-feed-url" name="FeedURL" required>
                    </div>

                    <div class="form-group">
                        <label for="channel">Discord Channel</label>
                        <select id="channel" class="form-control" name="DiscordChannel" data-requireperms-send>
                            {{textChannelOptions .ActiveGuild.Channels nil false ""}}
                        </select>
                    </div>
                    <!-- Update Mention Everyone checkbox in add form to a toggle -->
                    <div class="form-group">
                        {{checkbox "MentionEveryone" "new-mention-everyone" `Mention Everyone` false}}
                    </div>
                    <div class="form-group">
                        <label for="mention-roles">Mention Roles</label>
                        <select id="mention-roles" class="multiselect form-control" multiple="multiple" name="MentionRoles" data-plugin-multiselect>
                            {{roleOptionsMulti .ActiveGuild.Roles nil .MentionRoles}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Add</button>
                </form>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Current RSS feeds</h2>
            </header>
            <div class="card-body">
                <p>Feeds might get disabled if premium expires or feed url doesn't work, or the bot is unable to send the feed in the channel</p>
                {{$Dot := .}}
                <form class="no-unsaved-popup" data-async-form method="post">
                <table class="ui celled table" style="width:100%;">
                  <thead>
                    <tr>
                      <th>Feed URL</th>
                      <th>Server Channel</th>
                      <th>@everyone</th>
                      <th>Mention Roles</th>
                      <th>Enabled</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                  {{range .FeedItems}}
                    <tr>
                      <td><a class="feedlink" href="{{.FeedURL}}" target="_blank">{{.FeedURL}}</a></td>
                      <td>
                        <select class="form-control" name="DiscordChannel">
                          {{textChannelOptions $Dot.ActiveGuild.Channels .ChannelID false ""}}
                        </select>
                      </td>
                      <td>
                        {{checkbox "MentionEveryone" (joinStr "-" "feed" .ID "everyone") `` .MentionEveryone}}
                      </td>
                      <td>
                        <select class="multiselect form-control" multiple="multiple" name="MentionRoles" data-plugin-multiselect>
                          {{roleOptionsMulti $Dot.ActiveGuild.Roles nil .MentionRoles}}
                        </select>
                      </td>
                      <td>
                        {{checkbox "Enabled" (joinStr "-" "feed" .ID "enabled") `` .Enabled}}
                      </td>
                      <td>
                        <div class="btn-group">
                          <button type="submit" class="btn btn-success" formaction="/manage/{{$Dot.ActiveGuild.ID}}/rss/{{.ID}}/update">Save</button>
                          <button type="submit" class="btn btn-danger" formaction="/manage/{{$Dot.ActiveGuild.ID}}/rss/{{.ID}}/delete">Delete</button>
                        </div>
                        <input type="hidden" name="id" value="{{.ID}}">
                      </td>
                    </tr>
                  {{end}}
                  </tbody>
                </table>
                </form>
            </div>
        </section>
    </div>
</div>

{{template "cp_footer" .}}
{{end}} 