{{define "cp_youtube"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Youtube upload feeds</h2>
</header>
{{template "cp_alerts" .}}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">New feed</h2>
            </header>
            <div class="card-body">
                <!-- <p>The subreddit field is just the name of the subreddit (no /r/ in front of it), examples: "games", "multicopter" -->
                <form class="" method="post" action="/manage/{{.ActiveGuild.ID}}/youtube">
                    <p>
                      <b>Provide either link of youtube channel or video or username </b> 
                      <br>
                      <b><u>Only youtube.com links are supported</u></b>
                      <br>
                      <u>Direct channel and Video links</u> are preffered as they have the highest accuracy
                      <br>Custom url links can lead to incorrect channels sometimes
                      <br>
                      <br>
                       <u>Examples of each type of link:</u>
                          <br>
                         Direct channel link:  <b>https://www.youtube.com/channel/UCuAXFkgsw1L7xaCfnd5JJOw</b>
                          <br>
                         Video link: <b>https://www.youtube.com/watch?v=dQw4w9WgXcQ</b>
                          <br>
                         User link: <b>https://www.youtube.com/user/MontyPython</b> 
                          <br>
                         Custom link: <b>https://www.youtube.com/c/Taskmaster</b>
                          <br> 
                        </br>
                        For any questions join the support server of the bot
                    </p>
                    <div class="form-group">
                        <label for="yt-channel-url">Link</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-prepend"><span
                                    class="input-group-text"></span></span>
                            <input type="text" class="form-control" placeholder="Enter link of youtube channel or video or user" id="yt-url" name="YoutubeUrl">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="channel">Discord Channel</label>
                        <select id="channel" class="form-control" name="DiscordChannel" data-requireperms-send>
                            {{textChannelOptions .ActiveGuild.Channels nil false ""}}
                        </select>
                    </div>

                    {{checkbox "MentionEveryone" "new-mention-everyone" `Mention everyone` false}}
                    {{checkbox "PublishLivestream" "new-publish-livestream" `Publish livestreams` false}}
                    <button type="submit" id="yt-add-btn" disabled="true" class="btn btn-success">Add</button>
                </form>
            </div>
        </section>
        <section class="card">
            <header class="card-header">
                <h2 class="card-title">Current subscribed channels</h2>
            </header>
            <div class="card-body">
                {{$dot := .}}
                {{range .Subs}}
                <form id="sub-item-{{.ID}}" data-async-form method="post"
                    action="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/update"><input type="text"
                        class="hidden form-control" name="id" value="{{.ID}}"></form>{{end}}

                <table class="table table-responsive-md table-sm mb-0">
                    <thead>
                        <tr>
                            <th>Youtube</th>
                            <th>Discord channel</th>
                            <th>Mention everyone</th>
                            <th>Publish livestreams</th>
                            <th>Enabled</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range .Subs}}
                        <tr>
                            <td>
                                <p class="form-control-static"><a class="feedlink" href="https://youtube.com/channel/{{.YoutubeChannelID}}" target="_blank"><b>{{.YoutubeChannelName}}</b></a> - <code>{{.YoutubeChannelID}}</code></p>
                            </td>
                            <td>
                                <select form="sub-item-{{.ID}}" id="channel" class="form-control" name="DiscordChannel"
                                    data-requireperms-embed>
                                    {{textChannelOptions $dot.ActiveGuild.Channels .ChannelID false ""}}
                                </select>
                            </td>
                            <td>
                                {{checkbox "MentionEveryone" (joinStr "" "mention-everyone-" .ID) `Mention everyone` .MentionEveryone (joinStr "" `form="sub-item-` .ID `"`)}}
                            </td>
                            <td>
                                {{checkbox "PublishLivestream" (joinStr "" "publish-livestream-" .ID) `Publish livestreams` .PublishLivestream (joinStr "" `form="sub-item-` .ID `"`)}}
                            </td>
                            <td>
                                {{checkbox "Enabled" (joinStr "" "feed-enabled-" .ID) `Enabled` .Enabled (joinStr "" `form="sub-item-` .ID `"`)}}
                            </td>
                            <td>
                                <button form="sub-item-{{.ID}}" type="submit" class="btn btn-success"
                                    formaction="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/update"
                                    data-async-form-alertsonly>Save</button>
                                <button form="sub-item-{{.ID}}" type="submit" class="btn btn-danger"
                                    formaction="/manage/{{$dot.ActiveGuild.ID}}/youtube/{{.ID}}/delete">Delete</button>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </section>
        <!-- /.card -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<script>
    $(function () {
        let input = $("#yt-url");
        let addButton = $("#yt-add-btn")

        input.on("input", function (arg) {
          let ytUrl = input.val()
          let ytLinkRegex = new RegExp("^(https?:\/\/)?((www|m)\.)?youtube\.com",'g')
            if (!ytUrl || !ytLinkRegex.test(ytUrl)) {
              addButton.attr("disabled", true);
            }else{
              addButton.attr("disabled", false)
            } 
        })
    })
</script>
{{template "cp_footer" .}}
{{end}}