{{define "cp_commands"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Command settings</h2>
</header>

{{template "cp_alerts" .}}

<!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs">
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link show active" href="#global-settings" data-toggle="tab">Global settings</a>
                    </li>
                    {{range $i, $v := .ChannelOverrides}}
                    <li class="nav-item">
                        <a class="nav-link" href="#override-{{.ID}}" data-toggle="tab">Override #{{add $i 1}}</a>
                    </li>
                    {{end}}
                    <li class="nav-item">
                        <a class="nav-link" href="#new-override" data-toggle="tab">New channel override</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="global-settings" class="tab-pane active show">
                        <form method="post" action="/manage/{{.ActiveGuild.ID}}/commands/settings/general" data-async-form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="prefix">Prefix</label>
                                        <input type="text" class="form-control" id="prefix" name="Prefix" value="{{.CommandPrefix}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <i>...dust...</i>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Save Prefix</button>   
                                </div>
                            </div>
                        </form>
                        <div class="row mt-4 border-top border-info pt-4">
                            <div class="col-lg-12">
                                {{mTemplate "commands_channel_override" "ActiveGuild" .ActiveGuild "Commands" .SortedCommands "Override" .GlobalCommandSettings}}
                            </div>
                        </div>
                    </div>
                    {{$dot := .}}
                    {{range .ChannelOverrides}}
                    <div id="override-{{.ID}}" class="tab-pane">
                        <div class="row mt-4">
                            <div class="col-lg-12">
                                {{mTemplate "commands_channel_override" "ActiveGuild" $dot.ActiveGuild "Commands" $dot.SortedCommands "Override" .}}
                            </div>
                        </div>
                    </div>
                    {{end}}
                    <div id="new-override" class="tab-pane">
                        <div class="row mt-4">
                            <div class="col-lg-12">
                                {{mTemplate "commands_channel_override" "ActiveGuild" .ActiveGuild "Commands" .SortedCommands}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- /.row -->            
<script type="text/javascript">
    var commands = JSON.parse("{{json .Commands}}")

    function checkAll(what){
        console.log("Enabling all", what)
        $("."+what).each(function(i, item){
            item.checked = true;
        })
    }   

    function uncheckAll(what){
        $("."+what).each(function(i, item){
            item.checked = false;
        })
    }

    var copybufEnable = null;
    var copybufAutoDel = null;
    var copybufRole = null;
    function copy(channel){
        copybufEnable = [];
        copybufAutoDel = [];
        copybufRole = [];
        $("."+channel+"-enabled").each(function(i, item){
            copybufEnable[i] = item.checked;
        })
        $("."+channel+"-autodelete").each(function(i, item){
            copybufAutoDel[i] = item.checked;
        })
        $("."+channel+"-role").each(function(i, item){
            copybufRole[i] = $(item).val();
        })
    }

    function paste(channel){
        if(copybufAutoDel == null){
            alert("Nothing is copied"); 
            return;
        }

        $("."+channel+"-enabled").each(function(i, item){
            item.checked = copybufEnable[i];
        })
        $("."+channel+"-autodelete").each(function(i, item){
            item.checked = copybufAutoDel[i];
        })
        $("."+channel+"-role").each(function(i, item){
            $(item).val(copybufRole[i]);
        })
    }
</script>

{{template "cp_footer" .}}

{{end}}

{{/*Expects: 
    .Override (or nil)
    .ActiveGuild
    .Commands
*/}}
{{define "commands_channel_override"}}
{{if .Override}}
<form data-async-form method="POST" action="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/{{if .Override.Global}}global{{else}}{{.Override.ID}}{{end}}/update">
{{else}}
<form data-async-form method="POST" action="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/new">
{{end}}

    {{if not .Override.Global}}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Channels this override affects</label><br>
            <select multiple="multiple" class="form-control" data-plugin-multiselect name="Channels">
                {{textChannelOptionsMulti .ActiveGuild.Channels .Override.Channels }}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Include current and future channels from the following categories</label><br>
            <select multiple="multiple" class="form-control" data-plugin-multiselect name="ChannelCategories">
                {{catChannelOptionsMulti .ActiveGuild.Channels .Override.ChannelCategories}}
            </select>
        </div>
    </div>
    {{end}}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Require one of these roles</label><br>
            <select multiple="multiple" class="form-control" data-plugin-multiselect name="RequireRoles">
                {{roleOptionsMulti .ActiveGuild.Roles nil .Override.RequireRoles}}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label>Ignore users with one of these roles</label><br>
            <select multiple="multiple" class="form-control" data-plugin-multiselect name="IgnoreRoles">
                {{roleOptionsMulti .ActiveGuild.Roles nil .Override.IgnoreRoles}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="checkbox-custom checkbox-primary mt-3">
                <input type="checkbox" id="commands-enabled-{{.Parent.ID}}-{{.Override.ID}}" name="CommandsEnabled" {{if .Override.CommandsEnabled}}checked{{end}}>
                <label for="commands-enabled-{{.Parent.ID}}-{{.Override.ID}}">Commands enabled</label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label>Autodelete trigger after (seconds)</label>
            <div class="input-group mb-3">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <input type="checkbox" name="AutodeleteTrigger" {{if .Override.AutodeleteTrigger}}checked{{end}}>
                    </span>
                </span>
                <input type="number" class="form-control" placeholder="Seconds..." value="{{if .Override}}{{.Override.AutodeleteTriggerDelay}}{{else}}10{{end}}" name="AutodeleteTriggerDelay">
            </div>
        </div>
        <div class="form-group col-md-5">
            <label>Autodelete response after (seconds)</label>
            <div class="input-group mb-3">
                <span class="input-group-prepend">
                    <span class="input-group-text">
                        <input type="checkbox" name="AutodeleteResponse" {{if .Override.AutodeleteResponse}}checked{{end}}>
                    </span>
                </span>
                <input type="number" class="form-control" placeholder="Seconds..." value="{{if .Override}}{{.Override.AutodeleteResponseDelay}}{{else}}10{{end}}" name="AutodeleteResponseDelay">
            </div>
        </div>
    </div>
    {{if .Override}}
    <button type="submit" class="btn btn-success" value="Save">Save channel override</button>
    {{if not .Override.Global}}
        <button type="submit" class="btn btn-danger" value="Delete" formaction="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/{{.Override.ID}}/delete">Delete Channel override</button>
    {{end}}
    {{else}}
    <input type="submit" class="btn btn-success" value="Create">
    {{end}}
</form>
{{if .Override}}
    <div class="row pt-4">
        <div class="col">
            {{mTemplate "commands_command_override" "ActiveGuild" .ActiveGuild "Parent" .Override "Commands" .Commands}}
        </div>
    </div>
    {{$dot := .}}
    {{if .Override.R}}{{range $i, $v := .Override.R.CommandsCommandOverrides}}
    <div class="row pt-4">
        <div class="col">
            {{mTemplate "commands_command_override" "ActiveGuild" $dot.ActiveGuild "Parent" $dot.Override "Commands" $dot.Commands "Override" . "Index" $i}}
        </div>
    </div>
    {{end}}{{end}}
{{end}}
{{end}}

{{/*Expects: 
    .Parent (ChannelOverride)
    .Override (or nil)
    .ActiveGuild
    .Commands
    .ID
*/}}
{{define "commands_command_override"}}
{{if .Override}}
<form data-async-form method="post" action="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/{{if .Parent.Global}}global{{else}}{{.Parent.ID}}{{end}}/command_overrides/{{.Override.ID}}/update">
{{else}}
<form data-async-form method="post" action="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/{{if .Parent.Global}}global{{else}}{{.Parent.ID}}{{end}}/command_overrides/new">
{{end}}

    <div class="card border border-secondary rounded">
        <header class="card-header">
            {{if .Override}}
            <h2 class="card-title">Cmd Override #{{add .Index 1}}</h2>
            {{else}}
            <h2 class="card-title">New command override</h2>
            {{end}}
        </header>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Apply to the following commands</label><br>
                    <select multiple="multiple" class="form-control" name="Commands" data-plugin-multiselect>
                        {{$selected := .Override.Commands}}
                        {{range .Commands}}
                            <optgroup label="{{.Category}}">>
                                {{range .Commands}}
                                <option value="{{.}}" {{if in $selected .}}selected{{end}}>{{.}}</option>
                                {{end}}
                            </optgroup>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <div class="checkbox-custom checkbox-primary mt-4">
                        <input type="checkbox" {{if .Override.CommandsEnabled}}checked{{end}} id="commands-enabled" name="CommandsEnabled">
                        <label for="commands-enabled">Commands enabled</label>
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>Autodelete trigger after (seconds)</label>
                    <div class="input-group mb-3">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <input type="checkbox" name="AutodeleteTrigger" {{if .Override.AutodeleteTrigger}}checked{{end}}>
                            </span>
                        </span>
                        <input type="number" class="form-control" placeholder="Seconds..." value="{{if .Override}}{{.Override.AutodeleteTriggerDelay}}{{else}}10{{end}}" name="AutodeleteTriggerDelay">
                    </div>
                </div>
                <div class="form-group col-md-5">
                    <label>Autodelete response after (seconds)</label>
                    <div class="input-group mb-3">
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <input type="checkbox" name="AutodeleteResponse" {{if .Override.AutodeleteResponse}}checked{{end}}>
                            </span>
                        </span>
                        <input type="number" class="form-control" placeholder="Seconds..." value="{{if .Override}}{{.Override.AutodeleteResponseDelay}}{{else}}10{{end}}" name="AutodeleteResponseDelay">
                    </div>
                </div>
            </div>                
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Require one of these roles</label><br>
                    <select multiple="multiple" class="form-control" data-plugin-multiselect name="RequireRoles">
                        {{roleOptionsMulti .ActiveGuild.Roles nil .Override.RequireRoles}}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Ignore users with one of these roles</label><br>
                    <select multiple="multiple" class="form-control" data-plugin-multiselect name="IgnoreRoles">
                        {{roleOptionsMulti .ActiveGuild.Roles nil .Override.IgnoreRoles}}
                    </select>
                </div>
            </div>
            {{if .Override}}
            <button type="submit" class="btn btn-success" value="Save command override">Save command override</button>
            <button type="submit" class="btn btn-danger" value="Delete command override" formaction="/manage/{{.ActiveGuild.ID}}/commands/settings/channel_overrides/{{if .Parent.Global}}global{{else}}{{.Parent.ID}}{{end}}/command_overrides/{{.Override.ID}}/delete">Delete command override</button>
            {{else}}
            <input type="submit" class="btn btn-success" value="Create command override">
            {{end}}
        </div>
    </div>
</form>
{{end}}