{{define "cp_custom_commands"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Custom commands</h2>
</header>

{{template "cp_alerts" .}}

<div class="row">
    <div class="col">
        <!-- Nav tabs -->
        <div class="tabs">
            <ul class="nav nav-tabs">
                <li class="nav-item {{if and (not .CurrentCommandGroup)}}active{{end}}">
                    <a data-partial-load="true" class="nav-link show {{if not .CurrentCommandGroup}}active{{end}}" href="/manage/{{.ActiveGuild.ID}}/customcommands/">Ungrouped</a>
                </li>
                {{$dot := .}}
                {{range .CommandGroups}}
                <li class="nav-item {{if $dot.CurrentCommandGroup}}{{if eq $dot.CurrentCommandGroup.ID .ID}}active{{end}}{{end}}">
                    <a data-partial-load="true" class="nav-link show {{if $dot.CurrentCommandGroup}}{{if eq $dot.CurrentCommandGroup.ID .ID}}active{{end}}{{end}}" href="/manage/{{$dot.ActiveGuild.ID}}/customcommands/groups/{{.ID}}">{{.Name}}</a>
                </li>
                {{end}}
                <li class="nav-item">
                    <form class="form-horizontal" method="post" action="/manage/{{.ActiveGuild.ID}}/customcommands/creategroup" data-async-form>
                        <input type="text" class="hidden" name="Name" value="Unnamed group">
                        <input clasS="nav-link show" type="submit" value="+"></input>
                    </form>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active">
                    {{if not .CurrentCommandGroup}}<p>Create a new group to put white-list/blacklist roles/channels on multiple commands at the same time, as well as keeping things organized</p>{{else}}
                    <form class="form-horizontal" method="post" action="/manage/{{.ActiveGuild.ID}}/customcommands/groups/{{.CurrentCommandGroup.ID}}/update" data-async-form>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Name </label>
                                    <input type="text" class="form-control" value="{{.CurrentCommandGroup.Name}}" name="Name" />
                                </div>
                                <div class="form-group">
                                    <label>White-list roles for who can use these commands</label><br>
                                    <select name="WhitelistRoles" class="multiselect form-control" multiple="multiple" id="require-roles-receive" data-placeholder="Everyone" data-plugin-multiselect>
                                        {{roleOptionsMulti .ActiveGuild.Roles nil .CurrentCommandGroup.WhitelistRoles}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Blacklisted roles</label><br>
                                    <select name="BlacklistRoles" class="multiselect form-control" multiple="multiple" id="blacklisted-roles-give" data-plugin-multiselect>
                                        {{roleOptionsMulti .ActiveGuild.Roles nil .CurrentCommandGroup.IgnoreRoles}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Save group settings</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Channels these commands can be used in (empty for all)</label><br>
                                    <select multiple="multiple" class="form-control" data-plugin-multiselect name="WhitelistChannels" data-placeholder="Everywhere" >
                                        {{textChannelOptionsMulti .ActiveGuild.Channels .CurrentCommandGroup.WhitelistChannels }}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Channels blacklisted</label><br>
                                    <select multiple="multiple" class="form-control" data-plugin-multiselect name="BlacklistChannels">
                                        {{textChannelOptionsMulti .ActiveGuild.Channels .CurrentCommandGroup.IgnoreChannels }}
                                    </select>
                                </div>  
                                <div class="form-group">
                                    <button type="submit" title="Group #{{.CurrentCommandGroup.ID}} - {{.CurrentCommandGroup.Name}}" class="btn btn-danger" formaction="/manage/{{.ActiveGuild.ID}}/customcommands/groups/{{.CurrentCommandGroup.ID}}/delete">Delete group (commands will become un-grouped)</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>


<section class="card">
    <header class="card-header">
        Create new custom command{{if.CurrentCommandGroup}} in {{.CurrentCommandGroup.Name}}{{end}}
    </header>
    <div class="card-body">
        <form class="form-horizontal" method="post" action="/manage/{{.ActiveGuild.ID}}/customcommands/createcommand" data-async-form>
            {{if .CurrentCommandGroup}}<input type="text" class="hidden" value="{{.CurrentCommandGroup.ID}}" name="GroupID">{{end}}
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="trigger_type">Trigger type</label>
                        <select id="trigger_type" class="form-control" name="type">
                            <option value="cmd">Command (mention/cmd prefix)</option>
                            <option value="prefix">Starts with</option>
                            <option value="contains">Contains</option>
                            <option value="regex">Regex</option>
                            <option value="exact">Exact match</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="trigger">Trigger</label>
                        <input type="text" class="form-control" id="trigger" name="trigger" placeholder="!fun">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="case_sensitive"> Case sensitive
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-lg-12">
                    <label for="responses">Response</label>
                    <div class="entry input-group input-group-sm">
                        <textarea class="form-control" name="responses" placeholder="^ Smells!" rows="5"></textarea>
                        <span class="input-group-append">
                            <button class="btn btn-success btn-add btn-circle" type="button">
                                <i class="fas fa-plus"></i>
                            </button>
                        </span>
                    </div>
                    <a class="mb-1 mt-1 mr-1 modal-basic btn btn-info btn-sm" href="#cc-help-modal">Info</a>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_roles" value="on">
                        Require at least one of the roles in the following lists
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_roles" value="" checked>
                        Ignore the roles in the following list
                      </label>
                    </div>
                    <label for="new-command-roles">Roles</label><br>
                    <select name="roles" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                        {{roleOptions .ActiveGuild.Roles nil}}
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_channels" value="on">
                        Only run in the following channels
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_channels" value="" checked>
                        Ignore the channels in the following list
                      </label>
                    </div>
                    <label for="new-command-roles">Channels</label><br>
                    <select name="channels" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                        {{textChannelOptionsMulti .ActiveGuild.Channels nil}}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Add</button>
        </form>
    </div>
</section>

<div class="accordion accordion-primary" id="accordion" role="tablist">
    {{$guild := .ActiveGuild.ID}}
    {{$g := .ActiveGuild}}
    {{$dot := .}}
    {{range .CustomCommands}}
    <form class="form-horizontal" method="post" action="/manage/{{$guild}}/customcommands/commands/{{.LocalID}}/update" data-async-form>
        <button type="submit" class="hidden" formaction="/manage/{{$guild}}/customcommands/commands/{{.LocalID}}/update" data-async-form-alertsonly></button>
        
        <div class="card">
            <div class="card-header clearfix">
                <div class="pull-right">
                    <button type="submit" title="#{{.LocalID}} - {{.TextTrigger}}" class="btn btn-danger" formaction="/manage/{{$guild}}/customcommands/commands/{{.LocalID}}/delete">Delete</button>
                </div>
                <h2 class="card-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_cmd{{.LocalID}}" aria-expanded="false" aria-controls="collapse_cmd{{.LocalID}}">
                        #{{.LocalID}} - {{.TextTrigger}}
                    </a>
                </h2>
            </div>
            <div id="collapse_cmd{{.LocalID}}" class="collapse">
                <input type="text" class="hidden form-control" name="id" value="{{.LocalID}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="trigger_type">Trigger type</label>
                                <select id="trigger_type" class="form-control" name="type">
                                    <option value="cmd" {{if eq .TriggerType 0}} selected{{end}}>Command (mention/cmd prefix)</option>
                                    <option value="prefix" {{if eq .TriggerType 1}} selected{{end}}>Starts with</option>
                                    <option value="contains" {{if eq .TriggerType 2}} selected{{end}}>Contains</option>
                                    <option value="regex" {{if eq .TriggerType 3}} selected{{end}}>Regex</option>
                                    <option value="exact"{{if eq .TriggerType 4}} selected{{end}}>Exact match</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="trigger">Trigger</label>
                                <input type="text" class="form-control" id="trigger" name="trigger" placeholder="!fun" value="{{.TextTrigger}}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="case_sensitive" {{if .TextTriggerCaseSensitive}} checked{{end}}> Case sensitive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Custom command group</label>
                                {{$selectedGroup := .GroupID.Int64}}
                                <select Name="GroupID" class="form-control">
                                    <option {{if eq $selectedGroup 0}}selected{{end}} value="0">None</option>
                                    {{range $dot.CommandGroups}}<option value="{{.ID}}" {{if eq $selectedGroup .ID}}selected{{end}}>{{.Name}}</option>
                                    {{end}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="responses">Response</label>
                                {{/* Use .btn-add for simplicity and let the page loader adjust. */}}
                                {{range .Responses}}
                                <div class="entry input-group  input-group-sm">
                                    <textarea class="form-control" name="responses" placeholder="^ Smells!" rows="5">{{.}}</textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{else}}
                                <div class="entry input-group  input-group-sm">
                                    <textarea class="form-control" name="responses" placeholder="^ Smells!" rows="5"></textarea>
                                    <span class="input-group-append">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                                </div>
                                {{end}}
                                <a class="mb-1 mt-1 mr-1 modal-basic btn btn-info btn-sm" href="#cc-help-modal">Info</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="require_roles" value="on" {{if .RolesWhitelistMode}}checked{{end}}>
                                Require at least one of the roles in the following lists
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="require_roles" value="" {{if not .RolesWhitelistMode}}checked{{end}}>
                                Ignore the roles in the following list
                              </label>
                            </div>
                            <label for="command-roles-{{.LocalID}}">Roles</label><br>
                            <select name="roles" class="multiselect form-control" multiple="multiple" id="command-roles-{{.LocalID}}" data-plugin-multiselect>
                                {{roleOptionsMulti $g.Roles nil .Roles}}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="require_channels" value="on" {{if .ChannelsWhitelistMode}}checked{{end}}>
                                    Only run in the following channels
                                    </label>
                                </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="require_channels" value="" {{if not .ChannelsWhitelistMode}}checked{{end}}>
                                    Ignore the channels in the following list
                                </label>
                            </div>
                            <label for="command-channels-{{.LocalID}}">Channels</label><br>
                            <select name="channels" class="multiselect form-control" multiple="multiple" id="command-channels-{{.LocalID}}" data-plugin-multiselect>
                                {{textChannelOptionsMulti $g.Channels .Channels}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block mt-2" formaction="/manage/{{$guild}}/customcommands/commands/{{.LocalID}}/update" data-async-form-alertsonly>Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{end}}
</div>

<div id="cc-help-modal" class="modal-block modal-header-color modal-block-info mfp-hide">
	<section class="card">
		<header class="card-header">
			<h2 class="card-title">Custom Command Information</h2>
		</header>
		<div class="card-body">
			<div class="modal-wrapper">
				<div class="modal-text">
					<p class="help-block">Available template data is {{template "template_helper_user"}}</p>
					<p class="help-block">Execute bot commands using <code>{{"{{exec \"command\" \"arg1\" \"arg2\"}}"}}</code>, Example: <code>{{"{{exec \"role\" \"yagpdb\""}}"}}</code> will be the same as the user typing <code>(mention or prefix) role yagpdb</code></p>
					<p class="help-block">Arguments are available in a string array: <code>.CmdArgs</code><br> Access single arguments by index using <code>{{"{{index .CmdArgs 0}}"}}</code><br>Get the number of arguments using <code>{{"{{len .CmdArgs}}"}}</code><br>Loop over them with <br><code>{{"{{range .CmdArgs}}{{.}}"}} <- that dot will be replaced by the current argument we're looping over{{"{{end}}"}}</code><br>"end" marks the end of the for loop.</p>
					<!-- {{.IgnoreMe}} -->
					<p><a href="https://docs.yagpdb.xyz/templates" target="_blank">See the templating docs for more info</a> and join the support server if you have questions. It's rather complicated so I will make more guides in the future.<p>
					<p class="help-block">YAGPDB will pick one message at random from all configured.</p>
				</div>
			</div>
		</div>
		<footer class="card-footer">
			<div class="row">
				<div class="col-md-12 text-right">
					<button class="btn btn-info modal-dismiss">OK</button>
				</div>
			</div>
		</footer>
	</section>
</div>
{{template "cp_footer" .}}

{{end}}
