{{define "cp_custom_commands"}}
{{template "cp_head" .}}
<header class="page-header">
    <h2>Custom commands</h2>
</header>

{{template "cp_alerts" .}}

<section class="card">
    <header class="card-header">
        Create new custom command
    </header>
    <div class="card-body">
        <form class="form-horizontal" method="post" action="/manage/{{.ActiveGuild.ID}}/customcommands" data-async-form>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="trigger_type">Trigger type</label>
                        <select id="trigger_type" class="form-control" name="type">
                            <option value="cmd">Command (mention/cmd prefix)</option>
                            <option value="prefix">Starts with</option>
                            <option value="contains">Contains</option>
                            <option value="regex">Regex</option>
                            <option value="exact">Exact match</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="trigger">Trigger</label>
                        <input type="text" class="form-control" id="trigger" name="trigger" placeholder="!fun">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="case_sensitive"> Case sensitive
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="responses">Response</label>
                    <div class="entry input-group">
                        <textarea class="form-control" name="responses" placeholder="^ Smells!" data-plugin-textarea-autosize></textarea>
                        <span class="input-group-btn">
                            <button class="btn btn-success btn-add btn-circle" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    {{template "custom_command_help"}}
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-6">
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_roles" value="on">
                        Require at least one of the roles in the following lists
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_roles" value="" checked>
                        Ignore the roles in the following list
                      </label>
                    </div>
                    <label for="new-command-roles">Roles</label><br>
                    <select name="roles" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                        {{roleOptions .ActiveGuild.Roles nil}}
                    </select>
                </div>
                <div class="col-sm-6">
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_channels" value="on">
                        Only run in the following channels
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="require_channels" value="" checked>
                        Ignore the channels in the following list
                      </label>
                    </div>
                    <label for="new-command-roles">Channels</label><br>
                    <select name="channels" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                        {{textChannelOptionsMulti .ActiveGuild.Channels nil}}
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block">Add</button>
        </form>
    </div>
</section>
<div class="accordion accordion-primary" id="accordion" role="tablist">
    {{$guild := .ActiveGuild.ID}}
    {{$g := .ActiveGuild}}
    {{range .CustomCommands}}
    <form class="form-horizontal" method="post" action="/manage/{{$guild}}/customcommands/{{.ID}}/update" data-async-form>
        <div class="card">
            <div class="card-header clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-danger" formaction="/manage/{{$guild}}/customcommands/{{.ID}}/delete">Delete</button>
                </div>
                <h2 class="card-title">

                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse_cmd{{.ID}}" aria-expanded="false" aria-controls="collapse_cmd{{.ID}}">
                        #{{.ID}} - {{.Trigger}}
                    </a>
                </h2>
            </div>
            <div id="collapse_cmd{{.ID}}" class="collapse">
                <input type="text" class="hidden form-control" name="id" value="{{.ID}}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="trigger_type">Trigger type</label>
                                <select id="trigger_type" class="form-control" name="type">
                                    <option value="cmd" {{if eq .TriggerType 0}} selected{{end}}>Command (mention/cmd prefix)</option>
                                    <option value="prefix" {{if eq .TriggerType 1}} selected{{end}}>Starts with</option>
                                    <option value="contains" {{if eq .TriggerType 2}} selected{{end}}>Contains</option>
                                    <option value="regex" {{if eq .TriggerType 3}} selected{{end}}>Regex</option>
                                    <option value="exact"{{if eq .TriggerType 4}} selected{{end}}>Exact match</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label for="trigger">Trigger</label>
                                <input type="text" class="form-control" id="trigger" name="trigger" placeholder="!fun" value="{{.Trigger}}">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="case_sensitive" {{if .CaseSensitive}} checked{{end}}> Case sensitive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="responses">Response</label>
                                {{/* Use .btn-add for simplicity and let the page loader adjust. */}}
                                {{range .Responses}}
                                <div class="entry input-group">
                                    <textarea class="form-control" name="responses" placeholder="^ Smells!" data-plugin-textarea-autosize>{{.}}</textarea>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success btn-add btn-circle" type="button">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                {{end}}
                                {{template "custom_command_help"}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="radio">
                              <label>
                                <input type="radio" name="require_roles" value="on" {{if .RequireRoles}}checked{{end}}>
                                Require at least one of the roles in the following lists
                              </label>
                            </div>
                            <div class="radio">
                              <label>
                                <input type="radio" name="require_roles" value="" {{if not .RequireRoles}}checked{{end}}>
                                Ignore the roles in the following list
                              </label>
                            </div>
                            <label for="new-command-roles">Roles</label><br>
                            <select name="roles" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                                {{roleOptionsMulti $g.Roles nil .Roles}}
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="require_channels" value="on" {{if .RequireChannels}}checked{{end}}>
                                    Only run in the following channels
                                    </label>
                                </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="require_channels" value="" {{if not .RequireChannels}}checked{{end}}>
                                    Ignore the channels in the following list
                                </label>
                            </div>
                            <label for="new-command-roles">Channels</label><br>
                            <select name="channels" class="multiselect form-control" multiple="multiple" id="new-command-roles" data-plugin-multiselect>
                                {{textChannelOptionsMulti $g.Channels .Channels}}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success btn-block" formaction="/manage/{{$guild}}/customcommands/{{.ID}}/update">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {{end}}
</div>
{{template "cp_footer" .}}

{{end}}

{{define "custom_command_help"}}
<p class="help-block">Available template data is {{template "template_helper_user"}}</p>

<p class="help-block">Execute bot commands using <code>{{"{{"}}exec "command" "arg1" "arg2"{{"}}"}}</code>, Example: <code>{{"{{"}}exec "role" "yagpdb"{{"}}"}}</code> will be the same as the user typing <code>(mention or prefix) role yagpdb</code></p>

<p class="help-block">Arguments are available in a string array: <code>.CmdArgs</code><br> Access single arguments by index using <code>{{"{{index .CmdArgs 0}}"}}</code><br>Get the number of arguments using <code>{{"{{len .CmdArgs}}"}}</code><br>Loop over them with <br><code>{{"{{range .CmdArgs}}{{.}}"}} <- that dot will be replaced by the current argument we're looping over{{"{{end}}"}}</code><br>"end" marks the end of the for loop. <a href="/docs/templates">See yagpdb's custom templates for help</a> or you can also <a href="https://golang.org/pkg/text/template/">view the templating engine docs for more info</a> and join the support server if you have questions. It's rather complicated so I will make more guides in the future.<p>

<p class="help-block">YAGPDB will pick one message at random from all configured.</p>
{{end}}
