{{define "cp_head"}}{{if not .PartialRequest}}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/icons/manifest.json">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#00c7ff">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="YAGPDB">
    <meta name="application-name" content="YAGPDB">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="YAGPDB" />
    <meta property="og:description" content="Yet another general purpose discord bot" />


    <title>YAGPDB - Yet another general purpose discord bot control panel</title>

    <!-- Bootstrap Core CSS -->
    <!-- <link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- MetisMenu CSS -->
    <!-- <link href="/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.metismenu/2.5.2/metisMenu.min.css" integrity="sha256-XjZ0z1dEt5rG6mqMEhy+ssUiX+83tigMsRhQX1nqvKs=" crossorigin="anonymous">

    <!-- Timeline CSS -->
    <link href="/static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/dist/css/sb-admin-2.css" rel="stylesheet">
    
    <link href="/static/dist/css/yagpdb.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    
    <link rel="stylesheet" href="/static/dist/css/dropdowns-enhanced.min.css"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
    {{template "cp_nav" .}}
        <div id="main-content">

{{end}}{{end}}

{{define "cp_footer"}}{{if not .PartialRequest}}
    </div>
    </div>
    </div>
    <script>
    var visibleURL;
    {{if .VisibleURL }}visibleURL = {{.VisibleURL}};{{end}}
    </script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <!-- <script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/jquery.metismenu/2.5.2/metisMenu.min.js" integrity="sha256-FvtGTJgCbPmWr0DdIsMWeukxoOxWhWTCjT345wTj5Y8=" crossorigin="anonymous"></script>

    <!-- Morris Charts JavaScript -->
    <!-- <script src="/static/bower_components/raphael/raphael-min.js"></script> -->
    <!-- <script src="/static/bower_components/morrisjs/morris.min.js"></script> -->
    <!-- <script src="/static/js/morris-data.js"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="/static/dist/js/sb-admin-2.js"></script>

    <!-- ;)))) -->
    <script src="/static/dist/js/spongebob.js"></script>
    <!-- Custom Fonts -->
    <script src="https://use.fontawesome.com/e3f4515047.js"></script>

    <script type="text/javascript" src="/static/dist/js/dropdowns-enhanced.js"></script>

    {{template "googleAnalytics" .}}
</body>

</html>
{{end}}{{end}}

{{/*Displays alerts*/}}
{{define "cp_alerts"}}
<div id="alerts">
    {{if .Alerts}}
    <div class="row">
        <div class="col-lg-12">
            {{range .Alerts}}
            <div class="bs-callout bs-callout-{{.Style}}">
                {{.Message}}
            </div>
            {{end}}   
        </div>
    </div>
    {{end}}
</div>
{{end}}

{{/*
Argumens
Channels - list of channels
Selected - id of the selected channel
*/}}
{{define "channel_options"}}
    {{$selected := or .Selected ""}}
    {{range .Channels}}{{if eq .Type "text"}}<option value="{{.ID}}" {{if eq .ID $selected}} selected{{end}}>#{{.Name}}</option>{{end}}{{end}}    
{{end}}

{{/*
Argumens
Channels - list of channels
Selections - List of selections
<li><input type="radio" id="ID" name="NAME" value="VALUE"><label for="ID">Label</label></li>
*/}}
{{define "channel_options_multi"}}
    {{$selections := .Selections}}
    {{$idPrefix := or .IDPrefix "a"}}
    {{$name := or .Name "Channels"}}
    {{range .Channels}}{{if eq .Type "text"}}<li><input type="checkbox" name="{{$name}}" value="{{.ID}}" id="{{$idPrefix}}{{.ID}}" {{if $selections}}{{if in $selections .ID}}checked {{end}}{{end}}><label for="{{$idPrefix}}{{.ID}}">#{{.Name}}</label></option>
    {{end}}{{end}}
{{end}}

{{/*
Argumens
Roles - list of roles
Selected - id of the selected channel
Highest - the highest role the bot currently has, roles below this will be set to disabled
*/}}
{{define "role_options"}}
    {{$selected := or .Selected ""}}
    {{$highest := or .Highest}}
    {{$n := len .Roles}}
    {{range $i, $v := .Roles}}{{if and (ne (plus1 $i) $n) (not .Managed)}}<option value="{{.ID}}" {{if eq .ID $selected}} selected{{end}} {{if $highest}}{{if roleAbove $highest .}} >{{.Name}}{{else}} disabled> {{.Name}} (Role is above bot) {{end}}{{else}}>{{.Name}}{{end}}</option>{{end}}{{end}}
{{end}}

{{/*Help block for templating*/}}
{{define "template_help"}}
<p>To include the user or server in the message you can use the template data included, the templating engine used is go's text/template<br/>
Some quick examples: <code>{{"{{"}}.User.Username{{"}}"}}</code> - will be replaced by username, <code>{{"{{"}}.Server.Name{{"}}"}}</code> - Will be replaced by server name, <code>{{"{{"}}.User.ID{{"}}"}}</code> - The users id and so on..<br/>
To mention the user for example you would do <code><@{{"{{"}}.User.ID{{"}}"}}></code></p>
{{end}}

{{/*Specific template helpers*/}}
{{define "template_helper_user"}}<code>{{"{{"}}.User.(ID/Username/Discriminator/Bot{{"}}"}}</code>{{end}}
{{define "template_helper_guild"}}<code>{{"{{"}}.Server.(ID/Name/Icon/Owner/Permissions){{"}}"}}</code>{{end}}
