{{define "cp_nav_top"}}
<div class="navbar-header">
    {{if .ActiveGuild}}
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    {{end}}
    <a class="navbar-brand" {{if .ActiveGuild}} href="/cp/{{.ActiveGuild.ID}}/stats"{{else}} href="/cp/"{{end}}>YAGPDB <small>alpha</small>{{if .ActiveGuild}}<b> {{.ActiveGuild.Name}}</b>{{end}}</a>

</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li>
        <a href="https://discord.gg/0vYlUK2XBKldPSMY"><i class="fa fa-info-circle fa-fw"></i><span class="nav-button-desc">YAGPDB Server</span></a>
    </li>
    <li>
        <a href="/cp"><i class="fa fa-newspaper-o fa-fw"></i><span class="nav-button-desc"> v{{.Version}}</span></a>
    </li>
    {{if .ManagedGuilds}}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-folder-open  fa-lg fa-fw"></i><span class="nav-button-desc">{{if .ActiveGuild}}{{.ActiveGuild.Name}}{{else}}Select a server{{end}}</span><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">    
            <li class="dropdown-close"><a href="#">Close dropdown</a></li>
            {{$clientid := .ClientID}}
            {{$host := .Host}}
            {{range $index, $element := .ManagedGuilds -}}
            <li>
                {{if $element.Connected -}}
                <a href="/cp/{{$element.ID}}/stats"><i class="fa fa-magic fa-fw"></i>{{$element.Name}}</a>
                {{- else -}}
                <a href="https://discordapp.com/oauth2/authorize?client_id={{$clientid}}&scope=bot&permissions=535948311&guild_id={{$element.ID}}&response_type=code&redirect_uri={{urlquery "https://"}}{{$host}}{{urlquery "/cp"}}"><i class="fa fa-plus fa-fw"></i>{{$element.Name}} (Not added to server)</a>
                {{- end}}
            </li>
            {{- end}}
        </ul>
        <!-- /.dropdown-user -->
    </li>
    {{end}}
    {{if .User}}
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i><span class="nav-button-desc">{{adjective | title}} {{.User.Username}}</span><i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li class="dropdown-close"><a href="#">Close dropdown</a></li>
            <li><a href=""><i class="fa fa-user fa-fw"></i> Flip a table</a>
            </li>
            <li><a href=""><i class="fa fa-gear fa-fw"></i> Smell</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    {{else}}
    <li>
        <a href="/login?goto={{urlquery .RequestURI}}"><i class="fa fa-user fa-fw"></i><span class="nav-button-desc"> Login you {{adjective}} goose.</span></a>
    </li>
    {{end}}
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
{{end}}

{{define "cp_nav_sidebar"}}
<div id="sidebar-wrapper">
<div class="navbar-default sidebar" id="nav-sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/stats" ><i class="fa fa-dashboard fa-fw"></i> Stats</a>
            </li>
            <li>
                <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/cplogs" ><i class="fa fa-tree fa-fw"></i> Controlpanel Logs</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bullseye fa-fw"></i>Commands<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/commands/settings">Command settings</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/customcommands">Custom Commands</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-exclamation fa-fw"></i> Notifications &amp; Feeds <span class="label label-success">New!</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/notifications/general">General</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/reddit">Reddit</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/youtube">Youtube <span class="label label-success">New!</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/streaming">Streaming</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-bolt fa-fw"></i> Tools &amp; Utilities<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/moderation">Moderation</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/automod">Automoderator</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/autorole">Autorole &amp; role commands</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/logging/">Logging</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-trophy fa-fw"></i> Fun <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/reputation">Reputation</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/cp/{{.ActiveGuild.ID}}/soundboard/">Soundboard</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</div>
<div id="nav-footer">
    <p>Buy this space for 1$/day - <a href="mailto:jonasr747@gmail.com">jonasr747@gmail.com</a></p>
    <p><i>(Image by the amazing Tashi)</i></p>
    <a href="https://www.youtube.com/watch?v=kxopViU98Xo" target="_blank"><img src="/static/img/ad_placeholder.png" id="nav-footer-img"></img></a>
<!--     <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSdWheZWEtyNBF8EZS8f-oH9RiuOw-WOoylFMJ4o0LuoGtUzJg/viewform?usp=sf_link">Would you be okay with an ad showing up here?</a></p>
 --></div>
{{end}}

{{define "cp_nav"}}
<!-- Navigation -->
<nav class="navbar navbar-default maybe-nav-fixed-top" role="navigation" style="margin-bottom: 0">
    {{template "cp_nav_top" .}}
    {{if and .ActiveGuild .User .IsAdmin}}{{template "cp_nav_sidebar" .}}{{end}}
</nav>
{{if and .ActiveGuild .User .IsAdmin}}
<div id="page-wrapper">
{{else}}
<div id="public-wrapper">
{{end}}
{{end}}