{{define "cp_nav_top"}}
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" {{if .ActiveGuild}} href="/cp/{{.ActiveGuild.ID}}/stats"{{else}} href="/cp/"{{end}}>YAGPDB <small>alpha</small>{{if .ActiveGuild}}<b> {{.ActiveGuild.Name}}</b>{{end}}</a>

</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li>
        <a href="https://discord.gg/0vYlUK2XBKldPSMY"><i class="fa fa-info-circle fa-fw"></i> YAGPDB Server</a>
    </li>
    <li>
        <a href="/cp"><i class="fa fa-newspaper-o fa-fw"></i> v{{.Version}}</a>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-folder-open  fa-lg fa-fw"></i> {{if .ActiveGuild}}{{.ActiveGuild.Name}}{{else}}Select a server{{end}} <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">    
            {{$clientid := .ClientID}}
            {{$host := .Host}}
            {{range $index, $element := .ManagedGuilds}}
            
            <li>
                {{if $element.Connected}}
                <a href="/cp/{{$element.ID}}/stats"><i class="fa fa-magic fa-fw"></i>{{$element.Name}}</a>
                {{else}}
                <a href="https://discordapp.com/oauth2/authorize?client_id={{$clientid}}&scope=bot&permissions=535948311&guild_id={{$element.ID}}&response_type=code&redirect_uri={{urlquery $host}}{{urlquery "/cp"}}"><i class="fa fa-plus fa-fw"></i>{{$element.Name}} (Not added to server)</a>
                {{end}}
            </li>
            
            {{end}}
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> {{.User.Username}} <-- smells bad! <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href=""><i class="fa fa-user fa-fw"></i> Admire yourself</a>
            </li>
            <li><a href=""><i class="fa fa-gear fa-fw"></i> Smell</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->
{{end}}

{{define "cp_nav_sidebar"}}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/cp/{{.ActiveGuild.ID}}/stats" ><i class="fa fa-dashboard fa-fw"></i> Stats</a>
            </li>
            <li>
                <a href="/cp/{{.ActiveGuild.ID}}/cplogs" ><i class="fa fa-tree fa-fw"></i> Controlpanel Logs</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bullseye fa-fw"></i> Commands <span class="label label-success">Updated!</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/commands/settings">Command settings</a>
                    </li>
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/commands/moderation">Moderation Commands <span class="label label-success">Updated!</span></a>
                    </li>
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/customcommands">Custom Commands</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-exclamation fa-fw"></i> Notifications and Feeds <span class="label label-success">New!</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/notifications/general">General</a>
                    </li>
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/reddit">Reddit</a>
                    </li>
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/streaming">Streaming <span class="label label-success">Beta!</span></a>
                    </li>
                    <li>
                        <a href="/todo">More later... (rss, github etc)</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-trophy fa-fw"></i> Fun &amp; Utilities <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="/cp/{{.ActiveGuild.ID}}/reputation">Reputation</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
{{end}}

{{define "cp_nav"}}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    {{template "cp_nav_top" .}}
    {{template "cp_nav_sidebar" .}}    
</nav>
{{end}}