{{define "cp_selectserver"}}

{{template "cp_head" .}}
<div class="row">
    <div class="col-lg-7">
        <h2 class="page-header">Updates and such</h1>
        
        {{if .JoinedGuild}}
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Bot added to <b>{{.JoinedGuild.Name}}!</b></h3>
            </div>
            <div class="panel-body">
                <p>You manage this bot through a web control panel, if you need any help or want to contact the owner you can join the support server (There is a link above)</p>
                <p>I'm working on adding proper documentation and guides but at this moment the documentation is very lacking, and it may seem a bit complicated. As as i said earlier, join the support server if you have any questions, although please do try a little on your own first, as I and the support team's time is limited.</p>
                {{if .User}}
                <a class="btn btn-primary" href="/manage/{{.JoinedGuild.ID}}/stats">Click here to start managing it</a><br/>
                {{else}}
                <a class="btn btn-primary" href="/login?goto={{urlquery "/manage/" .JoinedGuild.ID "/stats" }}">Click here to login and start managing it</a>
                {{end}}
                <br/>
                <p>For future reference, you can log in and access your server in the top right menu. if the server did not show up as added in the menu above now, try reloading the page, and if it still does not show up as added then join the support server. (Link above)</p>
            </div>
        </div>
        {{end}}
        
        {{if .Posts}}
        {{range .Posts}}
        <h3>{{.Meta.Title}} <small>{{.Meta.Date}}</small></h3>
        {{.RenderedBody}}
        <br/>
        {{end}}

        <p>
        {{if .CurrentPostsOffset}}
        <a href="/manage?offset={{.PreviousPostsOffset}}">Newer Posts</a>
        {{end}}
        {{if .NextPostsOffset}}
        <a href="/manage?offset={{.NextPostsOffset}}">Older Posts</a>
        {{end}}
        {{end}}
        </p>
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Information</b></h3>
            </div>
            <div class="panel-body">
                <p>To add this bot to your server click login in the upper right corner, then aferwards select it in the "select a server" dropdown up top.</p>
                <p>Make sure you have manage server permissions and that you are logged into the right account</p>
                <p>Afterwards, click around a little to get familiar with the interface and what it provides</p>
                <p>If you stumble into any issue and need help then join the support server. (link at the top of the page)</p>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Check out...</b></h3>
            </div>
            <div class="panel-body">
                <p>YAGPDB is open source! The project is hosted on github here: <a href="https://github.com/jonas747/yagpdb">jonas747/yagpdb</a></p>
                <p><a href="/docs/index#donate">Donate using patreon, bitcoin and other cryptos!</a></p>
                <p>Looking to buy the ad space? <a href="/docs/ads">click here for more info</a></p>
                <p>Looking for the YAGPDB Discord server? the link is located at the top of the page!</p>
                <a href="https://discordbots.org/bot/204255221017214977">
                    <img src="https://discordbots.org/api/widget/204255221017214977.svg" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}

