{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/static/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/static/icons/manifest.json">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#00c7ff">
    <link rel="shortcut icon" href="/static/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="YAGPDB">
    <meta name="application-name" content="YAGPDB">
    <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <meta property="og:title" content="YAGPDB" />
    <meta property="og:description" content="Yet another general purpose discord bot" />

    <title>YAGPDB - Yet another general purpose discord bot</title>

    <!-- Font Awesome -->
    <script src="https://use.fontawesome.com/e3f4515047.js"></script>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <!-- <link href="/static/dist/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/static/dist/css/grayscale.css?2" rel="stylesheet">
    <link href="/static/dist/css/yagpdb.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container" id="homepage-nav">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">YAGPDB</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a href="https://discordapp.com/oauth2/authorize?client_id={{.ClientID}}&scope=bot&permissions=535948311&response_type=code&redirect_uri={{urlquery (joinStr ""  "https://" .Host "/manage")}}">Add to server</a>
                    </li>
                    <li>
                        <a href="/manage">Control panel</a>
                    </li>
                    {{if .User}}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    {{end}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><br/>YAGPDB</h1>
                        <p class="intro-text">Yet Another General Purpose Discord Bot</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-2">
                        <p class="intro-text">Joined Servers: {{.JoinedServers}}</p> 
                    </div>
                    <div class="col-md-4">
                        <p class="intro-text">Commands ran today: {{.Commands}}</p>
                    </div>
                </div>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About YAGPDB</h2>
                <p>YAGPDB is a project of mine that i've worked on for quite some time now. What does it do? Well it does a bunch of stuff right now, the best way to figure out what it does is to try it out by adding it onto a testing server and see what it provides for yourself.</p>
                <p><b>Who am I?</b> I go by the name jonas747 online and (unsuprisingly) my real name is also Jonas, although not 747, I'm not a plane. YAGPDB is a project that I have been developing in my spare time for roughly a year now, it started out because Mee6 (which I was currently using for my server) was lacking a lot of stuff that I wanted, so I decided to make my own bot, and here I am.</p>
            </div>
        </div>
        <div class=row>
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Features</h2>

                <p>Every feature may not be listed here</p>

                <h3>Feeds</h3>
                <ul>
                    <li>Super Fast reddit feeds (within 10 seconds normally)</li>
                    <li>Fast youtube feeds (within a couple minutes)</li>
                </ul><br>

                <h3>General Moderation</h3>
                <ul>
                    <li>Kick, ban, report and clean commands</li>
                    <li>Timed bans</li>
                    <li>Advanced options for clean command: max age and regex matching</li>
                    <li>Mute command with auto unmute after a duration</li>
                    <li>Send a kick/ban/mute log message in a channel</li>
                    <li>Send a kick/ban message to the person being kicked/banned</li>
                    <li>Snapshots of the chat created on command or added to log message</li>
                    <li>Warning command to give users warnings and track them</li>
                </ul><br>

                <h3>Automoderator</h3>
                <p>YAGPDB has a very configurable automoderator, for each rule (spam, links, bad words etc) you can set automoderator to mute, kick or ban after a certain number of violations within a certain timeframe</p>
                <p>Current automoderator rules are:</p>
                <ul>
                    <li>Spam/Slowmode</li>
                    <li>Mass mention</li> 
                    <li>Invites to other servers</li>
                    <li>Links</li>
                    <li>Banned words (with inbuilt swear list)</li>
                    <li>Banned websites (Planned google safe-browsing integration sometime in the future)</li>
                </ul><br>

                <h3>Custom Commands</h3>
                <ul>
                    <li>Triggers: starts with, contains, regex</li>
                    <li>Dynamic responses</li>
                    <li>Useful for things like automatic responses to common questions and command aliases</li>
                </ul><br>

                <h3>Server stats <small>(<a href=http://yagpdb.xyz/public/140847179043569664/stats>Example</a>)</small></h3>
                <ul>
                    <li>Stats: members joined, left, messages last 24h, members online. (more stats and graphs coming later)</li>
                    <li>Optionally make stats public</li>
                </ul><br>

                <h3>Super advanced self assignable roles</h3>
                <ul>
                    <li>Group up several roles</li>
                    <li>Toggle groups</li>
                    <li>Assign them via reactions</li>
                </ul><br>

                <h3>Other</h3>
                <ul>
                    <li>Automatic assignement of role after a being a member for a certain duration</li>
                    <li>Role commands to let people assign roles to themselves without the 'manage roles' permission</li>
                    <li>Super fast reddit feeds (normally within 10 seconds of the post being made!!)</li>
                    <li>Join, leave, topic change message (can also send a join message to the person joining in a dm)</li>
                    <li>Calculator command</li>
                    <li>Simple reputation system</li>
                    <li>Various other fun commands</li>
                    <li>Very good reliability and stability</li>
                </ul><br>

                <p>And finally, the feature im most proud of that made me spend days and nights sitting in a horrible chair in a basement staring at a old crt monitor with bugs crawling up the wall behind it is: <b>catfacts.</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Help/Feedback/Community/Other...</h3>
                <p>The documentation can be found <a href="/docs/index">here</a></p>
                <p>The yagpdb discord server for support, suggestions, feedback and the general community can be found <a href="https://discord.gg/GcpyYh3">here</a></p>
                <p>If you want to donate using patreon or crypto currencies, check out <a href="7docs/index#donating">this page</a></p>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <!-- <p>Copyright &copy; Your face 2016</p> -->
        </div>
    </footer>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/dist/js/grayscale.js"></script>
    
    {{template "googleAnalytics" .}}

</body>
</html>
{{end}}

{{define "googleAnalytics"}}{{if not .Testing}}<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-63610773-2', 'auto');
    ga('send', 'pageview');
</script>{{end}}{{end}}
