{{define "cp_status"}}
{{$botOwner := .IsBotOwner}}
{{template "cp_head" .}}

<header class="page-header">
	<h2>Bot status</h2>
</header>

{{template "cp_alerts" .}}

{{if not .BotRunning}}
<div class="row">
    <div class="col-lg-12">
        <p>Bot is currently not running</p>
    </div>
    <!-- /.col-lg-12 -->
</div>
{{else}}
{{if $botOwner}}
<div class="row">
	<div class="col">
		<form action="/shard/*/reconnect" method="POST">
			<button class="btn btn-danger" type="submit">Resume all shards</button>
			<button class="btn btn-danger" type="submit" formaction="/shard/*/reconnect?reidentify=1">Reidentify all shards</button>
		</form>
	</div>
</div>
{{end}}
{{range $i, $v := .Shards}}
<form action="/shard/{{$i}}/reconnect" method="POST">
	<div class="row">
	    <div class="col-lg-1">
	    Shard: {{$i}}
	    </div>
	    
	    <div class="col-lg-2">
	    {{if eq .ConnStatus 0}}
	    Connection Status: Disconnected
	    {{else if eq .ConnStatus 1}}
	    Connection Status: Connecting
	    {{else if eq .ConnStatus 2}}
	    Connection Status: Identifying
	    {{else if eq .ConnStatus 3}}
	    Connection Status: Resuming
	    {{else if eq .ConnStatus 4}}
	    Connection Status: Ready
	    {{end}}
	    <span class="indicator indicator-{{if eq .ConnStatus 4}}success{{else}}danger{{end}}">
	    </div>

	    <div class="col-lg-2">
	    Total Events: {{.TotalEvents}}
	    </div>
	    
	    <div class="col-lg-1">
	    Events/s: {{.EventsPerSecond}}
	    </div>
	    
	    <div class="col-lg-2">
	    Heartbeat Send: {{formatTime .LastHeartbeatSend.UTC "02 15:04:05"}}
	    </div>
	    
	    <div class="col-lg-2">
	    Heartbeat Ack: {{formatTime .LastHeartbeatAck "02 15:04:05"}}
	    </div>
	    
	    {{if $botOwner}}
	    <div class="col-lg-2">
	 		<div class="btn-group flex-wrap">
		 		<button class="btn btn-danger" type="submit">Resume</button>
		 		<button class="btn btn-danger" type="submit" formaction="/shard/{{$i}}/reconnect?reidentify=1">Re-identify</button>
		 	</div>
	    </div>
	    {{end}}
	</div>
</form>
<!-- /.row -->
{{end}}{{end}}

{{template "cp_footer" .}}

{{end}}

