{{define "cp_reddit"}}

{{template "cp_head" .}}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reddit</h1>
        <p>The reddit plugin will post posts from subreddits in your discord server</p>
        <p><b>Notice:</b> <code> 9th july</code>: I redid the reddit feeds to include "hidden from /r/all" subreddits, if you notice the bot missing any posts please let me know.</p>
    </div>
    <!-- /.col-lg-12 -->
</div>
{{template "cp_alerts" .}}
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add new feed
            </div>
            <div class="panel-body">
                <p>The subreddit field is just the name of the subreddit (no /r/ in front of it), examples: "games", "multicopter"
                <form class="form-inline" method="post" action="/cp/{{.ActiveGuild.ID}}/reddit">
                    <div class="form-group">
                        <label for="subreddit">Subreddit</label>
                        <input type="text" class="form-control" id="subreddit" name="subreddit" placeholder="howdoismell">
                    </div>
                    <div class="form-group">
                        <label for="channel">Server Channel</label>
                        <select id="channel" class="form-control" name="channel">
                            {{mTemplate "channel_options" "Channels" .ActiveGuild.Channels "Selected" "0"}}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Current subreddits
            </div>
            <div class="panel-body">
                {{$guild := .ActiveGuild.ID}}
                {{$channels := .ActiveGuild.Channels}}
                {{range .RedditConfig}}
                <div class="well well-sm">
                    <form class="form-inline" method="post" action="/cp/{{$guild}}/reddit/{{.ID}}/update">
                        <input type="text" class="hidden form-control" name="id" value="{{.ID}}">
                        <div class="form-group">
                            <label for="subreddit">Subreddit</label>
                            <input type="text" class="form-control" id="subreddit" name="subreddit" placeholder="" value="{{.Sub}}">
                        </div>
                        <div class="form-group">
                            <label for="channel">Channel</label>
                            <select id="channel" class="form-control" name="channel">
                                {{$selected := .Channel}}
                                {{mTemplate "channel_options" "Channels" $channels "Selected" .Channel}}
                            </select>
                        </div>
                        <!-- Fucking html only allows get and post asduiojasdiojasdiojaodi this is 2016 for fucks sake -->
                        <button type="submit" class="btn btn-success" formaction="/cp/{{$guild}}/reddit/{{.ID}}/update">Save</button>
                        <button type="submit" class="btn btn-danger" formaction="/cp/{{$guild}}/reddit/{{.ID}}/delete">Delete</button>
                    </form>
                </div>
                {{end}}
            </div>
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

{{template "cp_footer" .}}

{{end}}