{{define "cp_reputation_leaderboard"}}

{{template "cp_head" .}}
<style type="text/css">
    @media(min-width: 768px) {
        table {
            table-layout:fixed;
            /*width:100%;*/
            font-size: 0.9em;
            word-break: break-all;
        }
        
        #avatar-col {width:70px;}
        #pos-col {width:70px;}
        #username-col {width:100%; min-width: 100px;} 
        #points-col {width:100px;}
    }
    
    .deleted-message{
        color: red;
    }
</style>

{{if not .RepSettings.Enabled}}
<h1>Reputation disabled on this server</h1>
{{else}}
{{template "cp_alerts" .}}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            Leaderboards
            </div>
            <!-- /.panel-heading -->

            <div class="table-responsive">
                <table class="table table-hover table-striped" id="log-table">
                    <thead>
                        <tr>
                            <th id="avatar-col">Avatar</th>
                            <th id="pos-col">Rank</th>
                            <th id="username-col">User</th>
                            <th id="points-col">Points</th>
                        </tr>
                    </thead>

                    <tbody id="leaderboard-body">
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary" onclick="reputationLoadMore(1)">Load more</button>
        </div>
        <!-- /.panel -->
    </div>
</div>
<!-- /.row -->

<script type="text/javascript">

var repNumRows = 0;

function reputationLoadMore(limit, offset){
    if(!offset)
        offset = repNumRows;

    console.log("Loading more rows");
    createRequest("GET", "/api/{{.ActiveGuild.ID}}/reputation/leaderboard?limit="+limit+"&offset="+offset, null, leaderboardCB);
}

function leaderboardCB(){
    var parsed = JSON.parse(this.responseText);
    for(var i = 0; i < parsed.length; i++){
        var row = $("<tr>")
        row.append($('<img class="avatar" src="' + parsed[i].avatar + '">'))
        row.append($("<td>").text(parsed[i].rank))
        row.append($("<td>").text(parsed[i].username))
        row.append($("<td>").text(parsed[i].points))
        $("#leaderboard-body").append(row);
    }
    repNumRows += parsed.length;
} 

$(function(){
    reputationLoadMore(100, 0);
})

</script>
{{end}}
{{template "cp_footer"}}

{{end}}
